
.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

td,th{
   /* border: 1px solid black;*/
}
.cart-table td{
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}
.cell-long {
    width: 300px;
}

td {
    color: gray
}
.total{
    color: darkblue;
}
button{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    float: right;
    background-color: darkblue;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    
}
button:hover{
      background-color: skyblue;
}
button:active{
    background-color: blue;
}
button:focus{
    background-color: gray;
}

.input-test {
    font-size: 20px;
    border: none;
    
    
}
.input-test:focus {
    border: 3px solid red;
}

.custom-link {
    text-decoration: none;
}
.custom-link:link{
    color: aqua;
}
.custom-link:visited{
    color: black;
}
